@import 'styles/mixin.scss';

.title {
	&--px {
		&-13 {
			@include h(13px);
		}

		&-14 {
			@include h(14px);
			display: block;
		}

		&-16 {
			@include h(16px);
		}
	}

	&--no-wrap {
		white-space: nowrap;
	}

	&--ff {
		&-arial-mt {
			font-family: 'ArialMT';
		}
	}

	&--align {
		@include align;
	}

	&--color {
		&-white {
			color: white;
		}

		&-black {
			color: black;
		}

		&-light-green {
			color: var(--emerald-color);
		}

		&-dark-gray {
			color: var(--dark-gray);
		}
	}
}
