.sign-up-partner-password-form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	flex-flow: 10px;
	gap: 10px;
	margin-top: 80px;

	&-container {
		display: flex;
	}

	&__title {
		align-self: flex-start;
	}
}
