@import 'styles/mixin.scss';

.notification {
	position: fixed;
	bottom: -100px;
	left: 50%;
	max-width: 300px;
	width: 100%;
	max-height: 100px;
	height: 100%;
	border: 2px solid var(--emerald-color);
	border-radius: 10px;
	transform: translateX(-50%);
	transition: bottom 1s ease;
	z-index: var(--z-notification);

	&--active {
		bottom: 50px;
	}

	&__container {
		font-size: 16px;
	}
}
