.datagrid-row-body {
	display: flex;
	justify-content: space-around;
	margin-top: 5px;
	padding: 5px 5px 15px;
	font-size: 14px;
	gap: 10px;

	&--theme {
		&-gray {
			background-color: var(--bg-gray);
		}

		&-white {
			background-color: white;
		}
	}
}
