.add-service-form {
	&__inputs-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__add-button-wrapper {
		margin: 17px 0 0 6px;
	}

	&__save-button,
	&__cancel-button {
		margin-top: 6px;
		height: 52px;
	}

	&__button-container {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
}
