@import 'styles/mixin.scss';
@import 'styles/media.scss';

.pricing {
	display: flex;
	justify-content: space-around;
	height: 100%;
	gap: 40px;

	@include respond-to('mobile') {
		gap: 10px;
		flex-flow: column nowrap;
		align-items: center;
	}

	&__title {
		margin-top: 37px;
	}

	&__table {
		margin-top: 20px;
	}

	&__icon-container {
		flex: 1 1 450px;
		@include flex-center;

		@include respond-to('mobile') {
			flex: none;
		}
	}

	&__icon {
		max-width: 460px;
	}

	&__description {
		flex: 1 1 600px;
		max-width: 600px;

		@include respond-to('mobile') {
			flex: none;
		}
	}

	&__description-text {
		margin-top: 25px;
	}
}
