@import 'styles/mixin.scss';

.user-settings {
	@include flex-center;
	position: relative;
	z-index: var(--z-user-settings);
	height: 100%;

	&__background-image {
		position: absolute;
		transform: translate(-86%, 21%);
		z-index: var(--z-user-settings-background-image);
	}

	&__title {
		@include flex-center;
		margin: 0 auto;
		margin-bottom: 26px;
		width: 80px;
		justify-content: space-between;
	}

	&__subtitle {
		margin-top: 3px;
		font-family: 'ArialMT';
		font-size: 14px;
		color: var(--emerald-color);
	}

	&__icon {
		fill: var(--emerald-color);
		stroke: var(--emerald-color);
	}

	&__button {
		margin-top: auto;
	}
}
