@import 'styles/mixin';

$placeholder-left-padding: 7px;

.input {
	position: relative;
	border: none;
	padding: 15px 3px 14px $placeholder-left-padding;
	background-color: var(--concrete-color);
	font-family: 'ArialMT';

	&--theme-currency {
		padding-left: 15px;
	}

	&--text-align {
		&-left {
			text-align: left;
		}

		&-center {
			text-align: center;
		}

		&-right {
			text-align: right;
		}
	}

	&::placeholder {
		opacity: 0;
	}

	&--size {
		&-full {
			width: 100%;
		}

		&-half {
			width: 50%;
		}
	}

	&__placeholder {
		position: absolute;
		left: $placeholder-left-padding;
		top: 50%;
		color: var(--mine-shaft-color);
		transform: translateY(-50%);
		transition: 0.2s ease-in;
		z-index: 1;

		&--active {
			top: 0;
			font-size: 14px;
			background-color: white;
			padding: 0 2px;
		}

		&--checkbox {
			position: relative;
			left: auto;
			top: auto;
			transform: inherit;
			cursor: pointer;
			user-select: none;
		}

		&--theme-icon {
			left: calc(#{var(--field-icon-width)});
		}
	}

	&__currency {
		position: absolute;
		top: calc(50% - 10px);
		left: 7px;
		z-index: 1;
		height: auto;
	}

	&__error {
		position: absolute;
		transform: translateX(50%);
		bottom: 0;
	}

	&--checkbox {
		margin-right: 15px;
	}

	&--radio {
		margin-right: 8px;
	}

}

.label {
	display: flex;
	width: fit-content;
	background-color: var(--concrete-color);
	position: relative;

	&--checkbox {
		flex-direction: row-reverse;
		align-items: center;
		background-color: initial;
	}

	&--size {
		&-full {
			width: 100%;
		}

		&-48 {
			width: 48%;
		}
	}

	&--disabled::after {
		@include disabled-element;
	}
}
