.send-invoice {
	&__drop-container {
		position: relative;
		margin-top: 5px;
		height: 45px;
		background-color: var(--concrete-color);
		padding: 10px;
		cursor: pointer;
	}

	&__clip-icon {
		position: absolute;
		left: 10px;
		top: 7px;
		width: 20px;
	}

	&__button-container {
		margin-top: 30px;
	}
}
