@import 'styles/mixin.scss';

.pdf-footer {
	color: black;
	font-size: 12px;
	@include flex-center;
	flex-wrap: wrap;

	&__element-title {
		margin-right: 2px;
	}

	&__element {
		margin-top: 10px;
		margin-right: 10px;
	}

	&::before {
		display: block;
		content: '';
		width: 100%;
		height: 1px;
		background-color: var(--emerald-color);
	}
}
