$section-separator: 12px;

.order-details {
	display: flex;
	flex-flow: column nowrap;

	&__industry {
		margin-top: $section-separator;
	}

	&__service {
		margin-top: 6px;
	}

	&__cost {
		margin-top: 16px;
		display: flex;
		flex-flow: column nowrap;
		gap: 6px;
	}

	.cost {
		.cost__row {
			display: flex;
			gap: 6px;
		}
	}

	&__promo-code {
		margin-top: 12px;
	}

	&__agreement {
		display: flex;
		align-items: baseline;
		gap: 6px;
		margin-top: $section-separator;
	}

	&__buttons {
		display: flex;
		gap: 23px;
		margin-top: 17px;
	}
}
