@import 'styles/mixin.scss';

.message {
	display: flex;

	&__message-text {
		order: 1;
		padding: 14px 18px 25px 21px;

		&--theme {
			&-light-grey {
				background-color: var(--concrete-color);
			}
	
			&-light-green {
				background-color: var(--emerald-color);
				color: white;
			}
		}

		&--position {
			@include position;
		}
	}

	&__time {
		display: flex;
		&--order {
			&-first {
				order: 0;
			}

			&-second {
				order: 2;
			}
		}
	}
}
