.admin-sign-in-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	&__fieldset {
		width: 100%;
		max-width: 343px;
		margin-top: 66px;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__legend {
		width: 100%;
		padding: 16px 0;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		color: white;
		background-color: var(--bg-blue);
		border-radius: 15px;
	}
}
