$size: 30px;

.worker-active-orders-list {
	margin-top: 20px;
	max-height: 344px;

	&__status {
		&-info {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			color: #555555;

			&:not(:first-child) {
				margin-top: 10px;
			}

			&-container {
				margin-top: 20px;
				grid-gap: 10px;
			}
		}

		&-circle {
			margin-right: 12px;
		}
	}

	&__reload-button {
		padding: 5px 10px;
	}

	&__title {
		flex: 1;
	}

	&__header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
