@import 'styles/mixin';
@import 'styles/media';

.button {
	position: relative;
	height: 45px;
	border: none;
	box-shadow: none;
	font-family: 'ArialMT';
	font-size: 16px;
	color: white;
	cursor: pointer;
	$root: &;

	@include respond-to($xs) {
		font-size: 14px;
	}

	&:disabled {
		cursor: default;
		overflow: hidden;

		&:after {
			@include disabled-element;
		}
	}

	.icon {
		position: absolute;
		bottom: 50%;
		transform: translateY(50%);

		&--arrow {
			height: 16px;
		}

		&--position-left {
			left: 8px;
		}

		&--position-right {
			right: 8px;
		}

		&--position-left-reverse {
			transform: rotate(180deg) translate(200%,-50%);
		}
	}

	&__text {
		margin: 0 auto;
	}

	&--theme {
		&-transparent {
			background-color: transparent;
			color: var(--emerald-color);
		}

		&-transparent-mine-shaft {
			background-color: transparent;
			color: var(--mine-shaft-color);
		}

		&-secondary {
			background-color: var(--silver-chalice-color);
		}

		&-primary {
			background-color: var(--azure-radiance-color);
		}

		&-green {
			background-color: var(--emerald-color);
		}

		&-gray {
			background-color: var(--gray-color);
		}

		&-red {
			background-color: #C93131;
		}

		&-dark-blue {
			background-color: #3A5998;
		}

		&-light-gray {
			background-color: var(--concrete-color);
			color: var(--mine-shaft-color);

			&:hover {
				background-color: #eee;
			}
		}

		&-light-green {
			background-color: var(--emerald-color);
			color: white;
		}

		&-yellow {
			background-color: var(--yellow-color);
		}

		&-blue {
			background-color: var(--cornflower-blue);
		}

		&-dusty-gray {
			background-color: var(--dusty-gray-color);
		}
	}

	&--rounded {
		&-s {
			border-radius: 2px;
		}

		&-sm {
			border-radius: 3px;
		}

		&-m {
			border-radius: 4px;
		}

		&-l {
			border-radius: 17px;
		}

		&-xl {
			border-radius: 19.5px;
		}

		&-xxl {
			border-radius: 24px;
		}

		&-half {
			border-radius: 50%;
		}
	}

	&--position {
		@include position;
	}

	&--size {
		&-auto {
			width: fit-content;
			height: auto;
		}

		&-m {
			width: 45px;
			height: auto;
		}

		&-m {
			width: 45px;
			height: auto;
		}

		&-s {
			width: 160px;
			height: 45px;
			font-size: 16px;
		}

		&-l {
			width: 175px;
			height: 35px;
			font-size: 12px;
		}

		&-xl {
			width: 215px;
			height: 40px;
			font-size: 14px;
		}

		&-xxxl {
			width: 215px;
			height: 48px;
			@include primary-button-font-styles;
		}

		&-xxl {
			width: 250px;
		}

		&-half {
			width: 50%;
		}

		&-full {
			width: 100%;
		}
	}

	&--flow-vertical {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		height: auto;

		#{$root}__icon {
			position: relative;
			left: initial;
			bottom: initial;
			margin-bottom: 35px;
			transform: initial;
		}
	}
}
