@import 'styles/mixin';

.restore {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.successful-screen {
	@include flex-center;
	flex-flow: column;
	justify-content: space-between;
	width: auto;
	padding: 30px 45px;
}