@import 'styles/mixin.scss';

.title-and-body {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&__text {
		@include datagrid-row-text;
	}

	&__text-container {
		display: flex;
		flex-direction: column;
	}

	&--horizontal-centering {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}
}
