.add-and-remove-button-general {
	display: flex;
	align-items: center;

	&__button {
		width: 30px;
		height: 30px;
		margin: 0;
		padding: 0;
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__text {
		margin-left: 10px;
	}
}
