@import 'styles/mixin.scss';

.admin-restore-password-form {
	@include flex-center;
	flex-direction: column;
	width: 100%;
	padding-bottom: 40px;
	background-color: #393a39;
	border-radius: 15px;

	&__fieldset {
		width: 100%;
		max-width: 343px;
		margin-top: 20px;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
