$form-gap: 16px;

.order-customer-form {
	&__location-buttons {
		display: flex;
		gap: 11px;
	}

	&__form {
		display: flex;
		flex-flow: column nowrap;
		gap: $form-gap;
	}

	&__description {
		margin-top: 12px;
	}

	&__location-button {
		padding-top: 21px;
		padding-bottom: 16px;
		text-align: center;
	}

	&__submit-button {
		margin-top: calc(23px - #{$form-gap});
	}

	&__link {
		font-size: 12px;
		color: var(--emerald-color);
		font-weight: bold;
		text-decoration: none;
	}
}
