.textarea {
	height: 120px;
	width: 100%;
	padding: 13px 10px;
	border: none;
	font-size: 16px;
	font-family: Arial;
	background-color: var(--concrete-color);
	resize: none;

	&::placeholder {
		color: #a2a2a2;
		opacity: 1;
	}

	&--size-full {
		width: 100%;
	}

	&--theme-white {
		border: 1px solid #979797;
		border-radius: 2px;
		background-color: white;
	}

	&-container {
		position: relative;
		text-align: right;
	}

	&__text-symbols {
		&--theme-red {
			color: red;
		}
	}
}
