@import 'styles/mixin.scss';

.order-invoice-services-table-creator-action-buttons {
	margin-top: 6px;
	display: flex;
	justify-content: space-between;

	&__edit-button,
	&__remove-button {
		@include secondary-button-font-styles;
	}
}
