@import 'styles/mixin';
@import 'styles/media.scss';

.services {
	display: flex;
	justify-content: space-around;
	gap: 40px;
	height: 100%;

	@include respond-to('mobile') {
		justify-content: initial;
		flex-flow: column nowrap;
		align-items: center;
		gap: 0;
	}

	&__title {
		padding-top: 58px;

		@include respond-to('mobile') {
			padding-top: 10px;
		}
	}

	&__description {
		&:first-of-type {
			margin-top: 18px;
		}

		&-block {
			flex: 1 1 550px;
			display: flex;
			align-items: flex-start;
			flex-flow: column nowrap;

			@include respond-to('mobile') {
				flex: none;
				align-items: center;
				margin-top: 10px;
			}
		}
	}

	&__button {
		margin-top: 20px;
	}

	&__icon-container {
		flex: 1 1 480px;
		display: flex;
		align-items: center;

		@include respond-to('mobile') {
			flex: initial;
		}
	}

	&__icon {
		@include fluidMaxSize(480px);
	}

	&__service-icons-container {
		display: flex;
		gap: 10px;
		margin-top: 20px;
		flex-wrap: wrap;

		@include respond-to('mobile') {
			justify-content: center;
		}
	}
}
