.order-customer-payment {
	gap: 5px;
	display: flex;
	flex-flow: column nowrap;

	&__general-info {
		display: flex;
		flex-flow: column nowrap;
		gap: 5px;
	}

	&__report-container {
		padding: 10px
	}

	&__button-container {
		margin-top: 20px;
	}

	&__report-title {
		white-space: nowrap;
	}
}
