.order-progress {
	&__loader-container {
		margin-top: 25px;
	}

	&__map-container {
		margin-top: 20px;
	}

	&__search-in-progress {
		margin-top: 25px;
	}

	&__patience {
		margin-top: 30px;
	}

	&__cancel-button {
		margin-top: 25px;
		text-transform: capitalize;
	}
}
