.order-process-layout {
	&__phone-icon {
		margin-right: 21px;
	}

	&__wrench-icon {
		margin-right: 15px;
	}

	&__content-container {
		&:first-child {
			padding: 0 9px;
			margin-top: initial;
		}

		padding: 0 14px;
		margin-top: 9px;
	}

	&__content-wrapper {
		width: 100%;
	}

	&__loader-container {
		margin-top: 40px;
	}

	&__loader {
		margin-top: 30px;
	}

	&__title {
		margin-top: 20px;
	}
}
