.order-invoice-pdf {
	&__firm-section {
		margin-top: 10px;
	}

	&__data-section {
		margin-top: 50px;
	}

	&__title {
		margin-top: 60px;
	}
	
	&__sub-title {
		font-size: 14px;
	}
	
	&__description {
		margin-top: 60px;
	}
	
	&__text {
		display: inline-block;
		line-height: 16px;
		margin: 5px 0;
	}
}
