@import 'styles/mixin';

.container {
	word-break: break-word;

	&--default {
		max-width: 1440px;
		width: 100%;
		height: 100%;
		padding: 0;
		position: relative;
	}

	@include respond-to($md) {
		font-size: 12px;
	}

	&--position {
		@include position;
	}

	&--wrap {
		display: flex;
		flex-wrap: wrap;
	}

	&--flex-direction {
		display: flex;

		&-column {
			flex-direction: column;
		}

		&-row {
			flex-direction: row;
		}
	}

	&--centered {
		display: flex;

		&-vertical {
			align-items: center;
		}

		&-horizontal {
			justify-content: center;
		}

		&-space-between {
			justify-content: space-between;
			align-items: center;
		}

		&-flex-start {
			justify-content: flex-start;
			align-items: center;
		}

		&-center {
			@extend .container--centered-vertical;
			@extend .container--centered-horizontal;
		}

		&-center-column {
			@extend .container--centered-center;
			flex-direction: column;
		}
	}

	&--flow {
		display: flex;

		&-vertical {
			flex-flow: column;
		}
	}

	&--theme {
		&-blue {
			background-color: #00C0FF;
		}

		&-white {
			background-color: white;
		}

		&-gray {
			background-color: var(--concrete-color);
		}

		&-green {
			color: white;
			background-color: var(--emerald-color);
		}

		&-gray-green {
			background-color: var(--concrete-color);
			color: var(--emerald-color);
		}

		&-warn {
			background-color: var(--warn);
			color: white;
		}

		&-yellow {
			background-color: var(--yellow-color);
			color: white;
		}

		&-transperent {
			background-color: transparent;
		}

		&-black {
			background-color: rgba($color: black, $alpha: .5);
			color: white;
		}
	}

	&--fit-content {
		height: auto;
	}

	&--fill-content {
		width: 100%;
		height: 100%;
	}


	@media screen and (max-width: 430px) {
		&--wrap {
			& > * {
				flex-basis: 100%;
			}
		}
	}
}
