@import 'styles/mixin.scss';

.chat {
	height: 100%;

	&__body {
		margin-top: 10px;
		width: 100%;
		display: flex;
		background-color: white;
		color: black;
		@include fluidMaxSize(570px, 'height');
	}

	&__customers {
		overflow-y: auto;
		border-right: 1px solid var(--fringy-flower);
		padding: 20px 10px 27px 10px;
		@include scrollbar;
		@include fluidMaxSize(200px);
	}

	&__messages {
		width: 100%;
		padding: 53px 10px 27px 9px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	&__message-list-wrapper {
		overflow-y: auto;
		@include scrollbar;
	}

	&__form-wrapper {
		margin-top: 15px;
	}
}
