@import 'styles/mixin';
@import 'styles/media';

.h1 {
	font-size: 46px;
	line-height: 1.25;
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 2px;

	@include respond-to($xxl) {
		font-size: 36px;
	}

	@include respond-to($md) {
		font-size: 20px;
		line-height: 24.5px;
	}

	&--align-left {
		text-align: left;
	}

	&--color-green {
		color: var(--emerald-color);
	}
}
