@import 'styles/mixin';

.payment-method-general {
	&__link {
		background-color: var(--concrete-color);
	}

	&__link {
		@include flex-center();
	}

	&__links-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 45px;
		gap: 8px;
		margin-top: 16px;
	}

	&__button-container {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		margin-top: 30px;
	}

	&__visa-img {
		width: 67px;
		padding-bottom: 5px;
		margin-right: 10px;
	}
}
