.user-app {
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
	overflow-y: hidden;

	&__header-container {
		justify-content: space-between;
	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__home-text-block {
		position: relative;
		z-index: var(--z-app);
		height: 100%;
		padding-top: 56px;
		text-align: left;
	}

	&__home-description {
		max-width: 300px;
		margin-top: 8px;
	}

	&__image {
		position: absolute;
		bottom: 9.2%;
		left: 27%;
	}

	&__button {
		margin-top: 26px;
		position: relative;
		z-index: var(--z-app);
	}

	&__language-switcher {
		margin-left: 15px;
		order: 2;
	}
}
