.datagrid-row {
	min-width: 900px;
	&__buttons-container {
		display: flex;
		justify-content: space-between;
	}

	&__body-container {
		border: 1px solid var(--mine-shaft-color);
		border-radius: 15px;
	}
}
