@import 'styles/mixin.scss';

.show-pictures {
	@include flex-center;
	flex-direction: column;
	width: 100%;
	height: 100%;

	&__icon {
		width: 30px;
		height: 30px;
		fill: var(--emerald-color);

		&:hover {
			fill: white;
		}
	}
}
