@import "styles/media";
@import "styles/mixin";

.p {
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.3px;
	margin-top: 0;
	margin-bottom: 0;

	@include respond-to($md) {
		font-size: 12px;
	}

	&--size {
		&-small {
			font-size: 12px;
			line-height: 14px;
		}

		&-medium {
			font-size: 14px;
			line-height: 16px;
		}
	}

	&--color {
		&-white {
			color: white;
		}

		&-gray {
			color: var(--gray-color);
		}

		&-dark-gray {
			color: var(--dark-gray-color);
		}

		&-black {
			color: black;
		}

		&-light-green {
			color: var(--emerald-color);
		}
	}

	&--align {
		&-left {
			text-align: left;
		}

		&-center {
			text-align: center;
		}

		&-right {
			text-align: right;
		}
	}

	&--bold {
		font-weight: bold;
	}

	&--transform-uppercase {
		text-transform: uppercase;
	}
}
