.mobile-navigation {
	display: flex;
	flex-flow: column nowrap;
	overflow-y: scroll;

	&__link {
		padding-left: 25px;
		height: 48px;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: var(--mine-shaft-color);

		&-icon {
			margin-right: 10px;
			width: 24px;
			height: 21px;
		}

		&--active {
			background-color: #D8D8D8;
			color: var(--emerald-color);
		}
	}

	&-container {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		position: absolute;
		left: 0;
		width: 280px;
		height: 100vh;
		padding-top: 10px;
		background-color: white;
		overflow-y: scroll;
		z-index: var(--z-sidebar);
	}
}
