@import 'styles/media';

@mixin square-size($size) {
	width: $size;
	height: $size;
}

@mixin fluidMaxSize($size, $property: width) {
	max-#{$property}: $size;
	#{$property}: 100%;
}

@mixin respond-to($media) {
	@if $media == mobile {
		@media only screen and (max-width: $md) { @content; }
	} @else {
		@media only screen and (max-width: $media) { @content; }
	}
}

@mixin h($size, $ff: 'Arial') {
	font-family: $ff;
	font-style: normal;
	font-weight: bold;
	font-size: $size;
	margin: 0;

	&--align {
		&-left {
			text-align: left;
		}

		&-center {
			text-align: center;
		}

		&-right {
			text-align: right;
		}
	}

	&--color {
		&-white {
			color: white;
		}

		&-gray {
			color: var(--gray-color);
		}

		&-black {
			color: black;
		}

		&-light-green {
			color: var(--emerald-color);
		}
	}
}

@mixin disabled-element {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--concrete-color);
	opacity: 0.7;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin datagrid-row-text {
	display: inline;
	font-size: 12px;
	line-height: 11px;
	opacity: 0.9;
}

@mixin secondary-button-font-styles {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.26px;
}

@mixin primary-button-font-styles {
	font-size: 16px;
	line-height: 17px;
	letter-spacing: 0.3px;
}

@mixin position {
	&-center {
		margin: 0 auto;
	}

	&-left {
		margin: 0;
	}

	&-right {
		margin-left: auto;
		margin-right: 0;
	}
}

@mixin flexPosition {
	&-center {
		justify-content: center;
	}

	&-left {
		justify-content: flex-start;
	}

	&-right {
		justify-content: flex-end;
	}
}

@mixin align {
	&-center {
		text-align: center;
	}

	&-left {
		text-align: left;
	}

	&-right {
		text-align: right;
	}
}

@mixin scrollbar {
	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background-color: black;
		border: 4px solid transparent;
		background-clip: content-box;
	}

	&::-webkit-scrollbar-thumb {
		background: rgb(25,25,25);
		border: 1px solid black;
	}
}
