@font-face {
	font-family: 'ArialMT';
	src: url('../fonts/arialMT/02587_ARIALMT.eot');
	src: local('☺'), url('../fonts/arialMT/02587_ARIALMT.woff') format('woff'),
	url('../fonts/arialMT/02587_ARIALMT.woff2') format('woff2'),
	url('../fonts/arialMT/02587_ARIALMT.ttf') format('truetype'), 
	url('../fonts/arialMT/02587_ARIALMT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
