@import 'styles/mixin';
@import 'styles/media';

.contact-container {
	@include flex-center;
	height: 100%;
}

.contact {
	display: flex;
	background-color: white;

	&__form-container {
		display: flex;
		justify-content: center;
		flex-basis: 50%;
		padding: 37px 39px 48px 34px;

		@media screen and (max-width: $customNavBreakpoint) {
			padding: 10px 5px 0;
		}
	}

	&__description {
		margin-top: 11px;
		margin-bottom: 20px;
	}

	&__map-container {
		flex-basis: 50%;
	}

	&__text-content {
		max-width: 380px;
		text-align: left;
	}

	&__fieldset {
		display: flex;
		flex-flow: column nowrap;
		gap: 5px;
		padding: 0;
	}

	&__form {
		margin-top: 10px;
	}

	&__button {
		margin: 11px auto 0;
	}

	&__legend {
		padding: 0;
		margin-bottom: 11px;
	}

	&__form-sent-text {
		margin-top: 40%;
	}

	@media screen and (max-width: $md) {
		& {
			max-height: none;
			flex-direction: column;
		}
		&__map-container {
			flex-basis: unset;
			height: 350px;
		}

		&__text-content {
			padding: 0 20px 20px 20px;
		}
	}
}
