.main {
	position: relative;
	flex: 1;
	background-color: var(--fringy-flower);
	scrollbar-color:  var(--silver-chalice-color) var(--fringy-flower);
}

.main--theme-white {
	background-color: white;
	scrollbar-color:  #696969 white;
}
