@import 'styles/mixin.scss';

.datagrid-row-section {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0 10px;
	width: 100%;

	&:only-child {
		margin: 0 auto;
		&> * {
			text-align: center;
		}
	}

	&__text-container {
		display: flex;
		justify-content: space-around;
	}

	&__text {
		@include datagrid-row-text;
		margin-top: 5px;
	}

	&__section-container {
		text-align: left;
		display: flex;
		gap: 10px;
	}

	&__rate-container {
		font-size: 18px;
	}

	&__rate-container {
		font-size: 18px;
	}

	&__card-container {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__edit-icon {
		margin-left: 10px;
		cursor: pointer;
	}
}
