@import "styles/mixin";
@import "styles/media";

.home {
	height: 100%;

	&__title {
		max-width: 788px;
		width: 100%;

		@include respond-to($md) {
			padding-top: 30px;
		}
	}

	&__content {
		display: flex;
		height: 100%;
		padding-top: 8px;
		text-align: left;
	}

	&__description {
		position: relative;
		margin-top: 8px;
		max-width: 310px;
		width: 100%;
		z-index: var(--z-home);

		@include respond-to($md) {
			max-width: 100%;
		}
	}

	&__image {
		display: block;
		max-width: 660px;
		height: auto;
	}

	&__button {
		margin-top: 26px;
		position: relative;
		z-index: var(--z-home);
	}
}
