$table-border: 1px solid black;

.table {
	border: $table-border;
	border-spacing: 0px;

	$root: &;

	&__th {
		width: 150px;
		height: 60px;
		font-size: 13px;
		color: white;
		text-align: center;

		&:not(:last-child) {
			border-right: $table-border;
		}

		&:first-child {
			width: 140px;
			color: black;
		}

		&:nth-child(2) {
			background-color: var(--cornflower-blue);
		}

		&:nth-child(3) {
			background-color: #3971CE;
		}

		&:nth-child(4) {
			background-color: #305FAE;
		}
	}

	&__td {
		border-top: $table-border;
		font-size: 13px;
		height: 41px;
		text-align: center;
		font-weight: bold;

		&:not(:last-child) {
			border-right: $table-border;
		}
	}

	&__tr {
		#{$root}__td:first-child {
			font-size: 9px;
			text-align: center;
		}
	}
}