$transform: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$childTransformMinus: translateX(9px) translateY(1px) rotate(-45deg);
$childTransformPlus: translateX(9px) translateY(1px) rotate(45deg);
$strokeDasharray: 225 299;
$strokeDashoffset: -72px;

.burger-button {
	order: -1;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 0;

	&__icon {
		transition: $transform;

		path {
			transition: $transform,
			stroke-dasharray $transform,
			stroke-dashoffset $transform;

			&:nth-child(2) {
				stroke-dasharray: 29 299;
			}
			&:nth-child(3) {
				transform-origin: 35% 63%;
			}
		
			&:nth-child(4) {
				stroke-dasharray: 29 299;
			}
		
			&:nth-child(5) {
				transform-origin: 61% 52%;
			}
		
			&:nth-child(6) {
				transform-origin: 62% 52%;
			}

			&:nth-child(1) {
				transform-origin: 36% 40%;
			}
		}
	}

	&.active {
		.burger-button__icon {
			transform: rotate(90deg);

			path {
				&:nth-child(1) {
					transform: $childTransformPlus;
				}
			
				&:nth-child(2) {
					stroke-dasharray: $strokeDasharray;
					stroke-dashoffset: $strokeDashoffset;
				}
			
				&:nth-child(3) {
					transform: $childTransformMinus;
				}
			
				&:nth-child(4) {
					stroke-dasharray: $strokeDasharray;
					stroke-dashoffset: $strokeDashoffset;
				}
			
				&:nth-child(5) {
					transform: $childTransformMinus;
				}
			
				&:nth-child(6) {
					transform: $childTransformPlus ;
				}
			}
		}
	}
}
