.span {
	&--bold {
		font-weight: bold;
	}

	&--theme {
		&-light-green {
			color: var(--emerald-color);
		}

		&-white {
			color: white;
		}

		&-gray {
			color: #929292;
		}

		&-error {
			color: red;
		}

		&-silver-chalice-color {
			color: var(--silver-chalice-color);
		}
	}

	&--small {
		font-size: 12px;
	}
}
