@import 'styles/mixin.scss';

.order-invoice-services-table-creator {
	display: flex;
	flex-direction: column;
	gap: 6px;

	&__services-wrapper {
		cursor: pointer;
		display: flex;
		justify-content: space-between;

		&--green-border {
			border: 1px solid var(--emerald-color);
		}
	}
}
