.show-pictures-button {
	letter-spacing: 1.5px;
	width: 175px;

	&__icon--theme {
		&-transparent {
			stroke: var(--mine-shaft-color);
		}
	
		&-white {
			stroke: white;
		}
	}

	&__text {
		margin-left: 10px;
	}
}
