.user-settings-general__link {
	width: 100%;
	border-radius: 2px;
	padding: 12.5px;
	border: none;
	box-shadow: none;
	font-family: 'ArialMT';
	font-size: 16px;
	color: white;
	cursor: pointer;
	text-align: center;
	margin-bottom: 10px;
}
