.visa-form {
	&__title {
		background-color: var(--concrete-color);
		padding: 17.5px 0;
		margin-bottom: 16px;
	}

	&__label {
		margin-bottom: 16px;
	}

	&__input-group {
		display: flex;
		justify-content: space-between;
	}
}
