@import 'styles/media.scss';

.navigation {
	&__primary-nav {
		display: flex;
		align-items: center;
	}

	&__link {
		text-decoration: none;
		text-transform: uppercase;
		color: black;
		font-size: 12px;
		transition: 0.2s ease-in;

		&:hover {
			color: var(--emerald-color);
		}

		&:not(:last-child) {
			margin-right: 30px;
		}

		&--active {
			color: var(--emerald-color);
		}

		&-login {
			font-weight: bold;
		}
	}

	@media screen and (max-width: $customNavBreakpoint) {
		&__link:not(:last-child) {
			margin: 5px;
		}
	}
}
