.order-invoice-table {
	border-spacing: 5px;
	width: 100%;

	&__td {
		height: 45px;
		background-color: var(--concrete-color);
		text-align: center;
	}

	&__th {
		@extend .order-invoice-table__td;
	}
}
