@import 'styles/mixin.scss';

.sign-in {
	@include square-size(100%);
	@include flex-center;

	&__content-container {
		z-index: 1;
	}

	&__bg-image {
		position: absolute;
		right: 60%;
		top: 40%;
	}

	&__form {
		margin-bottom: 16px;

		&-container {
			max-width: 360px;
			padding: 30px 17px;
			width: 100%;
			background-color: white;
		}
	}

	&__fieldset {
		display: flex;
		flex-flow: column nowrap;
		gap: 6px;
	}

	&__input-label:first-of-type {
		margin-top: 20px;
	}

	&__link {
		font-size: 12px;
		color: var(--emerald-color);
		font-weight: bold;
		text-decoration: none;
	}

	&__footer {
		display: flex;
		flex-flow: column nowrap;
		gap: 8px;
	}

	&__social-buttons {
		display: flex;
		gap: 10px;
		margin-top: 60px;
	}
}
