.created-report {
	&__report-content-wrapper {
		display: flex;
		align-items: center;
		margin-top: 17px;
		padding: 10px 6px;
	}

	&__report {
		word-wrap:break-word;
		overflow: hidden;
		text-align: left;
	}
}
