@use 'styles/mixin';

.component {
	height: auto;
	@include mixin.fluidMaxSize(320px);
	padding: 20px;
	border-radius: 4px;
	background-color: white;
	text-align: left;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.title {
	white-space: nowrap;
}

.inputContainer {
	margin-top: 30px;
}

.button {
	margin-top: 15px;
}
