@import 'styles/mixin.scss';

.admin-sign-in {
	@include flex-center;
	width: 100%;
	height: 100%;

	&__language-switcher {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	&__inner-container {
		@include fluidMaxSize(600px);
		padding-bottom: 122px;
	}

	&__form-container {
		background-color: #393a39;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 15px;
	}

	&__logotype-text {
		font-family: 'ArialMT';
		font-size: 26px;
		line-height: 30px;
		letter-spacing: 0.4875px;
	}

	&__dashboard {
		@include flex-center;
		padding-bottom: 122px;
		color: white;
	}
}
