.short-text-popup {
	position: relative;

	&__hidden-text {
		position: absolute;
		min-width: 200px;
		visibility: hidden;
		border-radius: 7px;
		transform: translateY(-40px);
		z-index: var(--z-short-text-popup);
		padding: 10px 5px;
		text-align: center;

		&--light {
			background-color: #e6dede;
			border: 1px solid #e0d9d9;
			color: black;
		}

		&--dark {
			background-color: gray;
			border: 1px solid #706D6D;
			color: white;
		}
	}

	&__hidden-text:hover {
		visibility: visible;
	}

	&:hover &__hidden-text {
		visibility: visible;
	}
}
