.datagrid-row-header {
	display: flex;
	justify-content: space-between;
	border: 1px solid var(--mine-shaft-color);
	margin-top: 5px;
	border-radius: 15px;
	padding: 5px 15px;
	background-color: var(--bg-gray);
}
