@import 'styles/mixin';

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	@include fluidMaxSize(var(--footer-height), height);
	padding: 25px 0 20px;
	background-color: var(--bg-black);
	z-index: 1;

	&__description {
		margin-top: 10px;
	}

	&__copyright {
		padding-top: 14px;
	}

	&__address {
		margin-top: 10px;
	}

	&__links {
		margin-top: 8px;
	}

	&__link:first-child  {
		margin-right: 7px;
	}
}
