@import 'styles/mixin';

$sidebar-full-width: 235px;
$link-width: 43px;

.sidebar-navigation {
	.list {
		&__link {
			@include flex-center;
			width: $link-width;
			height: 37px;
			color: var(--mine-shift);
			transition: width 0.2s ease-in;
			transition-delay: 0.1s;

			&--active {
				color: var(--cornflower-blue);
			}
		}

		&__icon {
			transition: width 0.2s ease-in;
			transition-delay: 0.1s;
			width: $link-width;
		}

		&__description {
			width: 0;
			opacity: 0;
			max-width: calc(#{$sidebar-full-width} - #{$link-width});
			transition: width 0.2s ease-in, opacity 0.5s;
			transition-delay: 0.1s;
			white-space: nowrap;
		}
	}

	&:hover {
		.list {
			&__link {
				width: $sidebar-full-width;
			}

			&__icon {
				width: $link-width;
			}

			&__description {
				width: 100%;
				opacity: 1;
			}
		}
	}
}

.sidebar-navigation__list-item:not(:last-child) {
	border-bottom: 1px solid var(--fringy-flower);
}
