.pdf-preview-wrapper {
	margin: 0 auto;
	width: 794px;
	height: 1100px;

	&--size {
		&-small {
			position: absolute;
		}
	}
}

.pdf-preview {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 50px 30px 10px;
	font-size: 14px;
	color: black;
	background-color: white;
	text-align: left;

	&__small {
		border: 1px solid var(--dusty-gray-color);
		transform: scale(0.3) translateY(-108%);
	}
}
