.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__chart-group {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__chart {
		margin: 15px 10px 0;
		padding: 20px 10px;
		min-height: 258px;
	}

	&__date-range-picker-wrapper {
		margin-top: 10px;
	}
}
