@use 'styles/mixin';

.overlay {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.219);
	z-index: var(--z-overlay);
}

.center {
	@include mixin.flex-center;
}
