.sign-up-partner-general-form {
	display: flex;
	gap: 5px;
	margin-top: 10px;

	&__input-wrapper {
		display: flex;
		flex-flow: column nowrap;
		gap: 10px;
	}

	&__column {
		display: flex;
		flex-flow: column nowrap;
		flex: 1 1 50%;
	}

	&__section {
		display: flex;
		gap: 5px;
	}

	&__section-title {
		padding-bottom: 5px;
	}

	&__coninue-button {
		margin: 0 auto;
	}
}
