@import-normalize;
@import './styles/font-faces.css';

:root {
	--fringy-flower: #C3E9D0;
	--bg-black: #232624;
	--bg-blue: #4385F3;
	--bg-gray: #424242;
	--dark-gray-color: #555555;
	--emerald-color: #31C963;
	--concrete-color: #F2F2F2;
	--mine-shaft-color: #272727;
	--cornflower-blue: #4385F3;
	--gray-color: #919191;
	--azure-radiance-color: #0082FF;
	--silver-chalice-color: #b0b0b0;
	--dusty-gray-color: #979797;
	--yellow-color: #E5C02B;
	--warn: #C93131;
	--footer-height: 200px;
	--header-height: 60px;
	--field-icon-width: 45px;
	--z-user-settings-background-image: -500;
	--z-app: 200;
	--z-home: 200;
	--z-short-text-popup: 300;
	--z-navigation: 400;
	--z-user-settings: 500;
	--z-header: 590;
	--z-sidebar: 600;
	--z-overlay: 610;
	--z-notification: 700;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	font-family: Arial, 'ArialMT', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--azure-radiance-color);
	display: inline-block;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

fieldset {
	border: 0;
}

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0;
}

li {
	text-decoration: none;
	list-style-type: none;
}

.overflow-hidden {
	overflow: hidden;
}
