@import 'styles/mixin';
@import 'styles/media';

.about-us {
	display: flex;
	gap: 40px;
	height: 100%;

	@include respond-to($md) {
		flex-wrap: wrap-reverse;
	}

	&__text-block {
		&-container {
			flex: 1 1 570px;
		}

		&:last-child {
			margin-bottom: 40px;
		}
	}

	&__title {
		padding-top: 58px;

		@include respond-to('mobile') {
			padding-top: 10px;
		}
	}

	&__description {
		&:first-of-type {
			margin-top: 20px;

			@include respond-to('mobile') {
				margin-top: 10px;
			}
		}
	}

	&__icon-container {
		flex: 1 1 600px;
		@include flex-center;
	}
}
