@import 'styles/mixin.scss';

.order-invoice-service-edit-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__input {
		font-size: 16px;
		flex: 1;
	}

	&__save-button {
		@include secondary-button-font-styles;
		margin-top: 3px;
		flex: 1;
	}
}
