@import 'styles/mixin.scss';

.edit-form {
	position: relative;
	border: 2px solid var(--emerald-color);
	border-radius: 15px;
	color: var(--emerald-color);
	padding: 20px 15px 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	max-width: 285px;
}
