@import "styles/media";
@import "styles/mixin";

$font-size-small: 12px;

.link {
	text-decoration: none;
	font-size: 16px;

	&--white {
		color: white;
	}

	&--size-small {
		font-size: $font-size-small;
	}

	@include respond-to($md) {
		font-size: $font-size-small;
	}

	&--theme {
		&-transparent {
			background-color: transparent;
		}

		&-light-green {
			background-color: var(--emerald-color);
		}

		&-warn {
			background-color: var(--warn);
		}
	}

	&--bold {
		font-weight: bold;
	}
}
