@import 'styles/mixin';

.sign-up-partner-successful-form {
	@include flex-center;
	flex-flow: column nowrap;
	height: 100%;

	&__icon {
		margin-top: 30px
	}

	&__description {
		margin-top: 30px
	}
}
