@import 'styles/mixin';
@import 'styles/media';

.sign-up-customer {
	@include fluidMaxSize(740px);
	padding: 24px 18px 32px;
	background-color: white;

	&__social-buttons {
		display: flex;
		gap: 20px;
		margin-top: 20px;

		@include respond-to($sm) {
			flex-flow: column nowrap;
		}
	}

	&__alternative-container {
		margin-top: 28px;
	}

	&__input-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		margin-top: 18px;

		@include respond-to('mobile') {
			grid-template-columns: 1fr;
		}
	}

	.alternative {
		@include flex-center;

		&__line {
			height: 1px;
			background-color: #D3D3D3;
			@include fluidMaxSize(128px);
		}

		&__text {
			margin: 0 13px;
		}
	}
}

.successful-screen {
	@include flex-center;
	flex-flow: column;
	justify-content: space-between;
	@include square-size(376px);
	padding: 30px 45px;
	background-color: white;
}

.input-wrapper {
	position: relative;

	.error-text {
		position: absolute;
		top: calc(100% + 2px);
		right: 50%;
		transform: translateX(50%);
		margin: 0;
		color: red;
		font-size: 12px;
		white-space: nowrap;
	}
}
